
html{ display:table;height:10%;width:100%;  }

#cut, #brand-food {
    color: #ffcc00;
}

#tags {
    color: #c0c0c0;
}

#leaf, #brand-hero {
    color: #33cc00;
}

body {
    background-image: url('http://localhost/BTS/Mvc_GsbFormation/public/img/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: table-cell;
    vertical-align: middle;
   /* padding-top: 70px;*/
    padding-bottom: 70px;
}

#list-mag {
    background-color: rgba(255, 204, 0, 0.4);
    border-color: #ffcc00;
}

#list-prod {
    background-color: rgba(51, 204, 0, 0.4);
    border-color: #33cc00;
}

#user {
    background-color: rgba(192, 192, 192, 0.4);
    border-color: #c0c0c0;
}

#mdp {
    margin-top: 3%;
    margin-bottom: 3%;
}

#head {

}


#mag, #prod, #user-all {
    opacity: 0.75;
}


#cpt-user {
    margin-bottom: 2%;
}

td, th {
    text-align: center;
}

#prod {
    margin-bottom: 5%;
}

#contact, #partner {
    margin-left: 5%;
}

#mag-btn {
    float: right;
}

#ar1 {
    float: right;
    margin-top: -0.5%;
}

.cont{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 20px;
    font-stretch: wider;
    font-size: 20px;

    color: #999;
    padding-top: 60px;
    padding-bottom: 70px;
}

.middle{
    padding-top: 100px;
    font-family: Arial;
}

.form{
    width: 30%;
}

/*
Styles related DIRECTLY with jQuery-simple-pagination
*/
.simple-pagination-page-numbers a
{
    display: block;
    float: left;
    width: 2rem;
    text-align: center;
}
a
{
    color: #216ed9;
    text-decoration: none;
}
a h1
{
    padding: 2rem;
    color: #216ed9;
    text-align: center;
}
a:hover
{
    text-decoration: underline;
}
a[class^="simple-pagination-navigation-"] + a[class^="simple-pagination-navigation-"]
{
    margin-right: 0;
}
a[class*="simple-pagination-navigation-disabled"]
{
    color: black;
    cursor: default;
}

.my-navigation:after
{
    content: "";
    display: table;
    clear: both;
}
.my-navigation div
{
    float: left;
}
.my-navigation div + div
{
    margin-left: .5rem;
}

.my-navigation{
    margin: 0 auto;
    width: 80%;

}

header{
    background: #CDE8FC;
    height: 240px;
}

.divheader{
    width: 1024px;
    margin: auto;
}

.divtitle{
    display: inline-block;
    height: 240px;
    line-height: 240px;
    padding: 0 0 0 50px;
    vertical-align: top;
    font-size: 24px;
    font-family: 'Roboto';
}

.logo {
    display: inline-block;
    width: 200px;
    opacity: 0.5;
    margin: 20px 20px auto 20px;
}